$ironhackcolor: #3dc4fd;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: $ironhackcolor;
  img {
    height: 40px;
  }
}

.beerListItems {
  display: flex;
  flex-direction: row;
  img {
    height: 100px;
    margin: auto auto;
  }
}

.beerListImageDiv {
  margin: 0 auto;
}

.beerListDetailsDiv {
  width: 600px;
  margin: 0 0 0 auto;
  text-align: left;
  color: black;
  h2 {
    margin: 0 0 1em 0;
    font-weight: 400;
  }
  h4 {
    color: rgb(131, 128, 128);
    font-weight: 500;
    margin: 0 0 0.5em 0;
    font-size: larger;
  }
}

hr {
  border: solid 1px lightgray;
  margin: 2em 0;
}

.singleBeer {
  margin-top: 2em;
  img {
    height: 300px;
  }
  h2 {
    margin: 1em 0 0.5em 0;
    font-weight: 400;
  }
  h4 {
    color: rgb(131, 128, 128);
    font-weight: 500;
    margin: 0 0 0.5em 0;
    font-size: larger;
  }
  p {
    text-align: left;
    width: 300px;
    margin: 1em auto;
  }
}

.technicalDetails {
  background-color: antiquewhite;
  width: 300px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  label {
    margin: 1em 0 0.5em 0;
    text-align: left;
    font-weight: 500;
    padding-left: 1em;
  }
  input {
    border-radius: 25px;
    border: 0.5px solid lightgrey;
    height: 30px;
  }
  textarea {
    height: 100px;
    border-radius: 20px;
    border: 0.5px solid lightgrey;
  }
  button {
    margin: 2em 0 2em 0;
    border-radius: 25px;
    border: 0.5px solid lightgrey;
    background-color: $ironhackcolor;
    height: 40px;
    color: white;
    font-weight: 700;
  }
  ::placeholder {
    color: grey;
  }
}
